<html>
    <head>
        {% load staticfiles %}
            <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
            <script src="{% static 'jquery.min.js' %}"></script>
            <script src="{% static 'bootstrap.min.js' %}"></script>
            <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    </head>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Portfolio</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
					<li>
						<a href="#">Gallery</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% url 'polls:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</li>
					<li>
						<a href="{% url 'polls:logout' %}"><span class="glyphicon glyphicon-logout"></span> Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    {% block content %}
    {% endblock %}
</html>
