{% extends "polls/base.html" %}

{% block content %}

<style>
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}
</style>
<div class="container">
    <div class="main-center">
        {% if form.errors %}
        <p>Upload failed. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form class="form-horizontal" method="post" action="{% url 'polls:upload_file' %}" enctype="multipart/form-data">
        	{% csrf_token %}
			{{ form.as_p }}
            <input type="submit" value="Upload" />
        </form>

    </div>
</div>
{% endblock %}
